[Unit]
Description=My Java Program

#After=network.target  java.service
#After=network.target mysql.service java.service
#if I use AWS RDS, I should delete mysql service.
#The mysql.service unit is used for a locally installed
 #MySQL database server and is not needed when connecting
 #to a remote MySQL database like RDS.
[Service]
Type=simple
User=ec2-user
ExecStart=/bin/bash -c 'source /etc/bashrc && /usr/bin/java -jar /opt/HomeWork1-0.0.1-SNAPSHOT.jar'
Restart=always
RestartSec=60
[Install]
WantedBy=multi-user.target
